{% extends "layout.html" %}

{% block content %}
    <h1 align="center" class="display-3">Your Servers</h1>

    <div class="container pt-4">
        {% for guild in guilds %}
            <div class="row rounded guild-row align-items-center pt-2 pb-1 mt-1">
                <div class="col" align="left">
                    <h4>{{ guild.name }}</h4>
                </div>
                <div class="col" align="right">
                    <a href="{{ url_for('guild_page', id=guild.id) }}" class="btn btn-primary mb-1 guild-edit-btn">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}