{% extends "layout.html" %}

{% block content %}
    <img class="rounded mx-auto d-block mb-4" src="{{ guild_info.icon_url }}" width="15%" height="15%">
    <h1 class="display-3">{{ guild_info.name }}</h1>

    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-4 badge rounded p-5">
                <img class="badge-child" src="{{ url_for('static', filename='images/gear.svg') }}" width="80px">
                <a class="badge-child ml-3" href="{{ url_for('guild_settings', guild_id=guild_id) }}">
                    <h3>Server Settings</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}